.hero_portriat {
    height: auto;
    width: 100%;
    margin: .25%;
    border: 1.5px solid black;
    overflow: hidden;
    box-shadow: 5px 5px 5px black;
}

.portriat-resize {
    padding: 1%;
}

.header {
    postion:fixed;
    z-index: 1000000;
    opacity: 0.8;
    display:inline;
    position:relative;
}

.searchbar {
    display: inline-block;
    float: right;
}

/*.title {
    display:block;
    float: left;
}*/
