<h3>Agility Heroes</h3>
<hr>


<!-- Radient Agility Hero Portriats -->
<div class='container'>
    <div class="row">
        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat test'
            src='../css/images/Agi/Radient/Anti-Mage.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Radient/Bounty_Hunter.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Radient/Drow_Ranger.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Radient/Ember_Spirit.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Radient/Gyrocopter.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Radient/Juggernaut.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Radient/Lone_Druid.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Radient/Luna.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Radient/Mirana.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Radient/Morphling.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Radient/Naga_Siren.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Radient/Phantom_Lancer.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Radient/Riki.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Radient/Sniper.png'>
        </div>
        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Radient/Templar_Assassin.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Radient/Troll_Warlord.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Radient/Ursa.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Radient/Vengeful_Spirit.png'>
        </div>
    </div>
<br>

<!-- Dire Agiength Hero Portriats -->
    <div class='row'>
        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Dire/Bloodseeker.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Dire/Broodmother.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Dire/Clinkz.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Dire/Faceless_Void.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Dire/Medusa.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Dire/Meepo.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Dire/Nyx_Assassin.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Dire/Phantom_Assassin.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Dire/Razor.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Dire/Shadow_Fiend.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Dire/Slark.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Dire/Spectre.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Dire/Terrorblade.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Dire/Venomancer.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Dire/Viper.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Agi/Dire/Weaver.png'>
        </div>
    </div>
</div>
