<!-- Radient Strength -->
    <!-- container for grid -->
    <div class='container hero_grid'>
        <h2>Strength Heroes</h2>
        <hr>

        <!-- add each hero into a seperate column.  Resizes pictures. -->
        <div class = 'col-sm-2 portriat-resize' ng-repeat='hero in radientStrHeroes'>
            <!-- placeholder so the grid does not move on animation -->
            <div class = 'hero_placeholder'>
                <!-- groups the name and the picture together -->
                <div class = 'hero_container' ng-click='openProfile(hero)' grow>
                    <!-- hero picture -->
                    <img class = 'hero_portriat' ng-src = '{{ hero.portriat }}'>
                    <!-- hero name -->
                    <p class = 'hero_name'>{{ hero.name }}</p>
                </div>
            </div>
        </div>
    </div>

<!-- Dire Strength -->
    <div class='container col-md-10 hero_grid'>
        <div class = 'col-sm-2 portriat-resize' ng-repeat='hero in direStrHeroes'>
                <img class = 'hero_portriat' ng-src = '{{ hero.portriat }}'>
                <p class = 'hero_name'>{{ hero.name }}</p>
        </div>
    </div>

<!-- Radient Agility -->
    <div class='container col-md-10 hero_grid'>
        <h3>Agility Heroes</h3>
        <hr>
        <div class = 'col-sm-2 portriat-resize' ng-repeat='hero in radientAgiHeroes'>
                <img class = 'hero_portriat' ng-src = '{{ hero.portriat }}'>
                <p class = 'hero_name'>{{ hero.name }}</p>
        </div>
    </div>
<!-- Dire Agility -->
    <div class='container col-md-10 hero_grid'>
        <div class = 'col-sm-2 portriat-resize' ng-repeat='hero in direAgiHeroes'>
                <img class = 'hero_portriat' ng-src = '{{ hero.portriat }}'>
                <p class = 'hero_name'>{{ hero.name }}</p>
        </div>
    </div>

<!-- Radient Intellegence -->
    <div class='container col-md-10 hero_grid'>
        <h3>Intellegence Heroes</h3>
        <hr>
        <div class = 'col-sm-2 portriat-resize' ng-repeat='hero in radientIntHeroes'>
                <img class = 'hero_portriat' ng-src = '{{ hero.portriat }}'>
                <p class = 'hero_name'>{{ hero.name }}</p>
        </div>
    </div>
    <!-- Dire Intellegence -->
    <div class='container col-md-10 hero_grid'>
        <div class = 'col-sm-2 portriat-resize' ng-repeat='hero in direIntHeroes'>
                <img class = 'hero_portriat' ng-src = '{{ hero.portriat }}'>
                <p class = 'hero_name'>{{ hero.name }}</p>
        </div>
    </div>




<!-- <div class = 'hero_profile'>{{ hero.name }}</div> -->
    <div id='profile_container' ng-show='profileVisible'>
        <div id = 'hero_profile' class='col-md-10'>
            <div id='close_profile' ng-click='closeProfile()'></div>

            <img id='profile_portriat' ng-src='{{ selectedHero.portriat }}'>
            <h1 id='profile_name'>
                {{ selectedHero.name }}
            </h1>
            <br />

            <ul id='profile_roles' ng-repeat='role in selectedHero.roles'>
                <li>
                    {{ role }}
                </li>
            </ul>
            <hr>

            <h3  class='profile_title'>
                Playstyle
            </h3>
            <p id='playstyle'>
                {{ selectedHero.playstyle }}
            </p>
            <hr>

            <!-- http://dota2.gamepedia.com/Category:Ability_icons -->

            <h3 class='profile_title'>
                Strengths
            </h3>
            <ul id='profile_strengths' ng-repeat='strength in selectedHero.strengths' ng-mouseover='showDescription()' ng-mouseleave='hideDescription()'>
                <li class='quality'>
                    <img class='quality_icon' ng-src='{{ strength.icon }}'>
                    <p class='quality_title'>
                        {{ strength.title }}
                    </p>
                </li>
                <span class='ability_description' ng-show='description' ng-hide='!description'>
                    {{ strength.description }}
                </span>
            </ul>
            <hr>

            <h3 class='profile_title'>
                Weaknesses
            </h3>
            <ul id='profile_weaknesses' ng-repeat='weakness in selectedHero.weaknesses'>
                <li class='quality'><img class='icon' ng-src='{{ weakness.icon }}'>
                    {{ weakness.title }}
                </li>
            </ul>
        </div>
    </div>
