<h3>Intellegence Heroes</h3>
<hr>


<!-- Radient Intellegence Hero Portriats -->
<div class='container'>
    <div class="row">
        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat test'
            src='../css/images/Int/Radient/Chen.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Radient/Crystal_Maiden.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Radient/Disruptor.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Radient/Enchantress.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Radient/Jakiro.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Radient/Keeper_of_the_Light.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Radient/Lina.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Radient/Natures_Prophet.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Radient/Ogre_Magi.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Radient/Oracle.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Radient/Puck.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Radient/Rubick.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Radient/Shadow_Shaman.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Radient/Silencer.png'>
        </div>
        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Radient/Skywrath_Mage.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Radient/Storm_Spirit.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Radient/Techies.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Radient/Tinker.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Radient/Windranger.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Radient/Zeus.png'>
        </div>
    </div>
<br>

<!-- Dire Intellegence Hero Portriats -->
    <div class='row'>
        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Dire/Ancient_Apparition.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Dire/Bane.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Dire/Batrider.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Dire/Dark_Seer.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Dire/Dazzle.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Dire/Death_Prophet.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Dire/Enigma.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Dire/Invoker.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Dire/Leshrac.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Dire/Lich.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Dire/Lion.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Dire/Necrophos.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Dire/Outworld_Devourer.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Dire/Pugna.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Dire/Queen_of_Pain.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Dire/Shadow_Demon.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Dire/Visage.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Dire/Warlock.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Dire/Winter_Wyvern.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Int/Dire/Witch_Doctor.png'>
        </div>
    </div>
</div>
