<h2>Strength Heroes</h2>
<hr>

<!-- Radient Strength Hero Portriats -->
<div class='container'>
    <div class="row">
        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat test'
            src='../css/images/Str/Radient/Alchemist.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Radient/Beastmaster.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Radient/Brewmaster.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Radient/Bristleback.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Radient/Centaur_Warrunner.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Radient/Clockwerk.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Radient/Dragon_Knight.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Radient/Earth_Spirit.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Radient/Earthshaker.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Radient/Huskar.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Radient/Io.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Radient/Kunkka.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Radient/Legion_Commander.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Radient/Omniknight.png'>
        </div>
        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Radient/Phoenix.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Radient/Sven.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Radient/Timbersaw.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Radient/Tiny.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Radient/Treant_Protector.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Radient/Tusk.png'>
        </div>
    </div>
<br>

<!-- Dire Strength Hero Portriats -->
    <div class='row'>
        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Dire/Abaddon.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Dire/Axe.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Dire/Chaos_Knight.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Dire/Doom.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Dire/Lifestealer.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Dire/Lycan.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Dire/Magnus.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Dire/Night_Stalker.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Dire/Pudge.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Dire/Sand_King.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Dire/Slardar.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Dire/Spirit_Breaker.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Dire/Tidehunter.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Dire/Undying.png'>
        </div>

        <div class='col-sm-2 portriat-resize'>
            <img class = 'hero_portriat'
            src='../css/images/Str/Dire/Wraith_King.png'>
        </div>
    </div>
</div>
