
<div class='sidebar col-lg-2'>

    <h1>Build a team</h1>
    <br>

        <center>
            <div class='hero_slot'><div class='hero_add'>test</div></div>
            <div class='hero_slot'><div class='hero_add'>test</div></div>
            <div class='hero_slot'><div class='hero_add'>test</div></div>
            <div class='hero_slot'><div class='hero_add'>test</div></div>
            <div class='hero_slot'><div class='hero_add'>test</div></div>
        </center>

    <h3>Strengths</h2>
    <h3>Weaknesses</h2>

</div>
